/* ==========================================================================
   Font
   ========================================================================== */

   $Primory-font:'Lora', serif;

/* ==========================================================================
   Color
   ========================================================================== */

   $white:#fff;
   $red:hsl(0, 100%, 50%);
   $gold:#daf207;




   